html{
    font-family: Garamond;
}
h1 {
    font-size: xx-large;
    text-align: center;
    background-color: pink;

}
   p{
       font-size: 30px;
       padding:3px;
   }
   .resetButton {
    background-color: #DC3545;
  }
  
   
  